/*
.copyright-control {
    position: absolute;
    left: calc(50% - 17px);
    top: 0;
    background-color: #ec971f;
    color: #fff;
    border-top-width: 0;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 3px 3px;
    z-index: 10;
    font-size: 1.253em;
}
*/


.media-browser-actions.active {
    z-index: 2;
}


.media-browser-image-meta {
    padding: 2px;
    position: absolute;
    overflow: hidden;
    bottom: 32px;
}

.media-browser-image.is_file .media-browser-image-meta{
    display: none;
}

.media-browser-image-meta > button {
    opacity: 0;
}

.media-browser-item.active .media-browser-image-meta > button {
    opacity: 1;
}

.icon-copyright-h:before{content:""}
.icon-copyright-v:before{content:""}